body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #28a745;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.right-menu {
    position: absolute;
    top: 20px;
    right: 20px;
}

.right-menu input {
    padding: 5px;
}

.right-menu button {
    padding: 5px 10px;
    background-color: white;
    border: none;
    color: #28a745;
    cursor: pointer;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    margin: 20px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    transition: transform 0.3s;
    border-radius: 5px;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product:hover {
    transform: scale(1.05);
}

.read-more-btn, #add-to-cart {
    margin-top: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    position: relative;
    bottom: 0;
    width: 100%;
}

.cart-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 10px;
}

.cart-item img {
    margin-right: 15px;
    border-radius: 5px;
    width: 100px; /* Fixed width for consistency */
    height: auto; /* Maintain aspect ratio */
}

